* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif ;
}

.container {
    max-width: 1920px;
    width: 100%;
}

header {
    position: relative;
}

.nav-container .btn-menumobile {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #e9e9e9;
    border-bottom: 1px solid #CCC; 
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

.nav-container ul {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-container li {
    list-style: none;
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: rgb(44, 44, 44);
    transition: .5s;
    font-weight: 500;
}

.nav-container li a:hover {
    color: #3381f3;
}

.main-banner { 
    background-image: url('../imgs/banner6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 55%;
    margin-top: 100px;
}

.search-form {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 15em 0;
    text-align: center;
}

.search-form h1 {
    font-size: 40px;
}

.search-form p {
    margin: 30px 60px 0 0;
    font-size: 18px;
    font-weight: 300;
}

.search-form input, .search-form select {
    background-color: #fff;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
}

.search-form input[type=submit], .sendjobs input[type=submit] {
    background: #3381f3;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.search-form input[type=submit]:hover, .sendjobs input[type=submit]:hover {
    background: #2b79eb;
}

.lastjobs-container {
    text-align: center;
    padding: 100px;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.lastjobs-container h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

.lastjobs-container ul {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.lastjobs-container ul li {
    list-style: none;
    text-align: left;
    border-bottom: solid 1px #ccc;
    height: 80px;
    position: relative;
}

.lastjobs-container ul li:last-child {
    border: none;
}

.click-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.company-box {
    display: inline-block;
    width: 50%;
    position: relative;
    padding-left: 1%;
}

.company-box img {
    width: 100px;
    margin-top: 2.5px;
}

.company-info {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
}

.company-info h3 {
    font-weight: 300;
    margin-bottom: 10px;
}

.company-info p {
    font-weight: bold;
}

.locality {
    color: #6d6d6d;
    display: inline-block;
    width: 25%;
    position: absolute;
    height: 100%;
    line-height: 80px;
}

.locality i, .locality p {
    display: inline-block;
}

.locality i {
    margin-right: 5px;
}

.job-type {
    display: inline-block;
    width: 20%;
    height: 100%;
    position: absolute;
    padding-top: 30px;
    right: 1%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.job-type span {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    color: #fff;
}

.clt {
    background-color: #735fee;
}

.pj {
    background-color: #5bbc2e;
}

.home-office {
    background-color: #ff5a5f;
}

.btnjobs-container {
    margin-top: 50px;
}

.btn-jobs {
    text-transform: uppercase;
    background-color: #fff;
    color: #3381f3;
    border: 2px solid #3381f3;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: .5s;
}

.btn-jobs:hover {
    background-color: #3381f3;
    color: #fff;
}

.sendjobs-container {
    background-image: url(../imgs/banner2.jpg);
    background-repeat: no-repeat;
    background-position: 0 25%;
    background-size: cover;
    padding: 15em 0;
}

.sendjobs-container h2, .sendjobs-container p {
    max-width: 600px;
    color: #fff;
}

.sendjobs-container p {
    font-size: 18px;
    margin-bottom: 50px;
}

.light-btn {
    background-color: #fff;
    border: 2px solid #fff;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .5s;
}

.light-btn:hover {
    background-color: transparent;
    color: #fff;
}

.status-container {
    text-align: center;
    padding: 5em 0;
}

.title-center {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.p-center {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.status-box {
    display: inline-block;
    text-align: center;
    width: 24.5%;
    margin-top: 80px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 100px;
}

.status-box:nth-child(2) {
    border: none;
}

.status-box:nth-child(3) {
    border-right: none;
}

.status-quantidade {
    font-size: 36px;
}
.status-text {
    font-size: 20px;
}

.testmony-container {
    background-image: url(../imgs/banner7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0;
}

.testmony-container h2, .testmony-container p {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.testmony-container h2 {
    font-size: 36px;
}

.testmony-box {
    display: inline-block;
    width: 24.5%;
    text-align: center;
}

.testmony-container .wrapper .testmony-box .testmony-msg {
    background-color: #fff;
    color: #666;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    position: relative;
    margin: 35px auto;
    font-style: italic;
}

.testmony-msg::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.testmony-box img {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.testmony-name {
    font-weight: bold;
}

.blog-container {
    padding: 5em 0;
}

.blog-container .p-center {
    margin-bottom: 60px;
}

.article-box {
    display: inline-block;
    width: 31%;
    padding: 0 1%;
    margin-bottom: 10px;
}

.article-box img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.article-box h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.article-box h4 a {
    text-decoration: none;
    color: #666;
}

.article-date {
    font-size: 12px;
    margin-bottom: 30px;
}

.article-resume {
    font-size: 14px;
    margin-bottom: 30px;
}

.article-btn {
    background-color: #3381f3;
    border-color: #3381f3;
    color: #fff;
}

.article-btn:hover {
    background-color: #FFF;
    border-color: #3381f3;
    color: #3381f3;
}

footer {
    background-color: #666;
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 5px solid #3381f3;
}

footer h2, footer p, footer a, footer span {
    color: #d1d1d1;
}

footer h2 {
    font-weight: 400;
}

footer a {
    text-decoration: none;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-box {
    width: 31%;
    padding: 1%;
    float: left;
}

footer .wrapper::after {
    clear: both;
    content: "";
    display: block;
}

.company-footer {
    width: 80%;
}

.company-footer h2 {
    margin-top: 20px;
}

.company-footer h2, .company-footer p {
    margin-bottom: 20px;
}

.footer-list li {
    margin-bottom: 15px;
}

.footer-list a {
    transition: .5s;
}

.footer-list a:hover {
    color: #fff;
}

.footer-list li::after {
    clear: both;
    content: "";
    display: block;
}

.article-footer {
    width: 80%;
}

.footer-list.footer-article-list span {
    display: block;
    float: none;
}

.fab {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}

.footer-list li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footer-bottom {
    border-top: 1px solid #b2b2b2;
}

.footer-bottom p {
    font-weight: 600;
    margin-top: 40px;
}

.findjobs .search-form {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    background-color: #3381f3;
    border-top: 5px solid #0000e6;
}

.findjobs .lastjobs-container {
    margin-top: 3em;
}

.search-form input, .search-form select {
    width: 20%;
}

.findjobs .search-form input[type=submit] {
    background-color: #fff;
    color: #3381f3;
}

.findjobs .lastjobs-container ul {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}

.type-filter {
    text-align: left;
}

.findjobs .type-filter ul {
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: #fff;
    border-right: 1px solid #ccc;
    display: flex;
}

.findjobs .type-filter ul li {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 1em;
}

.findjobs .type-filter ul li:nth-child(1), .findjobs .type-filter ul li:nth-child(2), .findjobs .type-filter ul li:nth-child(3) {
    border-right: none;
}

.findjobs .type-filter label {
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
    margin-left: .5em;
}

.checkbox-vermelha {
    accent-color: red;
}

.sendjobs .sendjobs-container  {
    margin-top: 100px;
    background: none;
    padding: 5em;
}

.sendjobs h1 {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}

.input-box {
    margin-bottom: 2em;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.sendjobs label {
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}

.sendjobs input, .sendjobs textarea, .sendjobs select {
    padding: 10px 20px;
    font-size: 18px;
}
.sendjobs input {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.sendjobs textarea, .sendjobs select {
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.sendjobs input[type=submit] {
    width: 200px;
    float: right;
}

.input-box::after {
    clear: both;
    content: " ";
    display: block;
}

.job-header {
    width: 100%;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    margin-top: 100px;
    padding: 2em 0;
}

.job-header h1 {
    font-size: 3em;
    text-align: center;
}

.job-header .company-box {
    width: 100%;

}

.job-header .job-info {
    height: 100px;
    width: 100%;
    margin-top: 3em;
    text-align: center;
}

.job-header .job-info div {
    width: 25%;
    height: 30px;
    line-height: 30px;
    float: left;
    position: relative;
    padding-left: 3em;
    padding-right: 3em;
    box-sizing: border-box;
    padding-top: 0;
}

.job-header .job-info .job-type {
    padding-top: 5px;
    margin-left: 12.5%;
}

.job-info .date i, .job-info .date p {
    display: inline-block;
    color: #666;
}

.job-info .date p {
    margin-left: 10px;
}

.job-header .job-info div:nth-child(2) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.jobpage .wrapper {
    padding: 2em 0;
}

.jobpage .wrapper::after {
    clear: both;
    content: "";
    display: block;
}

.job-container {
    float: left;
    width: 75%;
    position: relative;
}

.jobpage .page-title {
    font-size: 24px;
    margin-bottom: 1.5em;
}

.jobpage .description {
    margin-bottom: 1.5em;
}

.company-img {
    width: 100%;
    margin-bottom: 1.5em;
}

.companyinfo-container {
    float: right;
    width: 25%;
    padding-top: 4em;
    padding-left: 1.5em;
    box-sizing: border-box;
}

.jobpage-list {
    color: #666;
    margin-bottom: 1.5em;
    font-size: 1em;
    line-height: 2em;
}

.companyinfo-container img {
    width: 100%;
    display: block;
    border-bottom: 1px solid #CCC;
}

.companyinfo-container .job-type {
    display: block;
    position: relative;
    width: 100%;
    padding: 2em 0;
    border-bottom: 1px solid #ccc;
}

.apply-btn {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #3381f3;
    color: #3381f3;
    border-radius: 5px;
    display: block;
    text-align: center;
    transition: .5s;
}

.apply-btn:hover {
    background-color: #3381f3;
    color: #FFF;
}

.job-social-list li {
    display: block;
    list-style: none;
    height: 50px;
}

.job-social-list li a {
    text-decoration: none;
    color: #ccc;
}


@media(max-width: 1024px) {

    .logo{
        position: absolute;
        left: 50px;
    }

    .nav-container ul{
        justify-content: center;
        align-items: center;
    }

    .search-form {
        padding-bottom: 5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-form form {
        width: 60%;
        margin-top: 25px;
    }

    .search-form form input, .search-form form select {
        margin-bottom: 25px;
        width: 100%;
        border-width: 0;
        padding: 10px 20px;
    }

    .locality {
        width: 26%;
    }

    .lastjobs-container.wrapper, .status-container.wrapper, .blog-container.wrapper, .wrapper {
        max-width: 960px;
        padding-left: 2em;
        padding-right: 2em;
    }

    .findjobs .search-form input[type=submit] {
        margin-bottom: 0;
    }

    .findjobs .type-filter ul {
        display: block;
    }

    .findjobs .type-filter ul li {
        border-bottom: 1px solid #ccc;
    }

    .findjobs .type-filter ul li:last-child {
        border-right: none;
        border-bottom: none;
    }

    .job-header .job-info div {
        padding-left: 1em;
        padding-right: 1em;
        width: 29%;
    }

    .jobpage .wrapper {
        padding-left: 2em;
        padding-right: 2em;
    }

    .job-header .job-info .job-type {
        margin-left: 5%;
    }
}

@media(max-width: 768px) {
    .company-box {
        width: 46%;
        padding-left: 1em;
    }

    .company-box, .company-info h3 {
        font-size: 1em;
    }

    .company-box .company-info p, .locality i, .locality p, .job-type{
        font-size: .8em;
    }

    .job-type {
        right: 1em;
    }

    .sendjobs-inner h2, .sendjobs-inner p {
        text-shadow: 0px 0px 3px #000;
    }

    .status-box {
        width: 49.5%;
        border: none;
    }

    .status-box:nth-child(1), .status-box:nth-child(3) {
        border-right: 1px solid #ddd;
    }

    .testmony-box {
        width: 49.5%;
    }

    .article-box {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 3em;
    }
}

@media(max-width: 576px) {
    .nav-container .btn-menumobile {
        display: block;
    }

    .html, body {
        overflow-x: hidden;
    }

    nav {
        height: 4em;
    }

    .logo {
        left: 2em;
        height: 2em;
        width: 2em;
        margin-top: 1em;
    }

    .btn-menumobile {
        font-size: 1.75em;
        color: #CCC;
        position: absolute;
        right: 1.75em;
        top: 0.75em;
    }

    .nav-container ul {
        position: relative;
        top: 4em;
        height: 3em;
        line-height: 3em;
        display: none;
    }

    .nav-container ul li {
        display: block;
        background-color: #FFF;
        margin: 0;
        border-top: 1px solid #ccc;
        text-align: center;
    }

    .nav-container ul li a {
        font-size: 1em;
    }

    .open {
        display: block !important;
    }

    .main-banner {
        margin-top: 4em;
    }

    .search-form {
        padding-top: 15em;
        padding-bottom: 5em;
        width: 90%;
    }

    .search-form h1 {
        font-size: 1.6em;
    }

    .search-form p {
        font-size: 1em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }

    .search-form form {
        width: 80%;
    }

    .search-form input[type=submit] {
        margin-bottom: 0;
    }

    .lastjobs-container {
        padding: 5em 0;
    }

    .locality {
        display: none;
    }

    .company-box .company-info {
        margin-top: 1em;
        margin-left: 1em;
        width: 8em;
    }

    .company-box .company-info h3 {
        font-size: .8em;
    }

    .job-type {
        width: 22%;
    }

    .sendjobs-container {
        background-position: 35% 0;
        padding: 10em 0;
    }

    .sendjobs-container h2 {
        font-size: 1.5em;
        width: 100%;
    }

    .sendjobs-container p {
        font-size: 1em;
        width: 100%;
    }

    .status-box {
        margin-top: 3em;
        width: 100%;
    }

    .status-box:nth-child(1), .status-box:nth-child(3) {
        border: none;
    }

    .testmony-container {
        padding: 5em 0;
    }

    .testmony-box {
        width: 100%;
    }

    .testmony-container p {
        margin-bottom: 1em;
    }

    .footer-box {
        display: block;
        width: 100%;
    }

    .sendjobs .sendjobs-container {
        padding: 2em 0;
    }

    .sendjobs h1 {
        font-size: 2em;
        width: 60%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .input-box {
        width: 80%;
    }

    .job-container {
        width: 100%;
    }

    .companyinfo-container {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
    }

    .job-header {
        margin-top: 4em;
    }

    .job-header .locality {
        display: block;
    }

    .job-header .job-info div {
        height: 100%;
    }

    .job-header .job-info .job-type {
        padding-top: 35px;
    }

    .companyinfo-container .job-type {
        right: 0;
    }
    
    .apply-btn {
        margin-bottom: 3em;
        
    }
}

